---
- name: Create kubernetes secrets for application
  hosts: controller
  become: yes
  vars:
    secret_name: sportsify-dev-secrets
    namespace: sportsify-ns
    aws_access_key: "{{ aws_secrets.AWS_ACCESS_KEY_ID }}"
    aws_secret_key: "{{ aws_secrets.AWS_SECRET_ACCESS_KEY }}"

  tasks:

    - name: Get credentials from AWS Secrets Manager
      ansible.builtin.set_fact:
        aws_secrets: "{{ lookup('amazon.aws.aws_secret', '{{ secret_name }}') }}"

    - name: Create sportsify dev secrets
      kubernetes.core.k8s:
        api_version: v1
        kind: Secret
        name: "{{ secret_name }}"
        namespace: "{{ namespace }}"
        # Use the 'definition' parameter to specify the full secret structure
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: "{{ secret_name }}"
            namespace: "{{ namespace }}"
          type: Opaque
          stringData:
            AWS_ACCESS_KEY_ID: "{{ aws_access_key }}"
            AWS_SECRET_ACCESS_KEY: "{{ aws_secret_key }}"
        state: present


        

