---
- name: Set up Jenkins with Ngrok
  hosts: controller
  become: yes
  vars:
    ngrok_authtoken: "{{ aws_secrets.NGROK_AUTHTOKEN }}"
    jenkins_password: "{{ aws_secrets.JENKINS_PASSWORD }}"
    jenkins_namespace: "jenkins"
    aws_region: "us-east-1"
    jenkins_port: 32550
    jenkins_node: "{{ groups['jenkins'][0] }}"

  tasks:
    - name: Get credentials from AWS Secrets Manager
      ansible.builtin.set_fact:
        aws_secrets: "{{ lookup('amazon.aws.aws_secret', 'sportsify-dev-secrets') }}"

    # 4. Add Jenkins Helm repository
    - name: Add and Update Jenkins Helm repo
      kubernetes.core.helm_repository:
        name: jenkins
        repo_url: https://charts.jenkins.io
        state: present

    # 5. Create storageclass.yml file
    - name: Create Jenkins storageclass.yml
      ansible.builtin.copy:
        dest: /tmp/jenkins-storageclass.yml
        content: |
          apiVersion: storage.k8s.io/v1
          kind: StorageClass
          metadata:
            name: jenkins-storageclass
          provisioner: kubernetes.io/no-provisioner
          volumeBindingMode: WaitForFirstConsumer

    - name: apply storageclass.yml
      command: "kubectl apply -f /tmp/jenkins-storageclass.yml"

    - name: Create Jenkins jenkins-pvc.yml
      ansible.builtin.copy:
        dest: /tmp/jenkins-pvc.yml
        content: |
          apiVersion: v1
          kind: PersistentVolumeClaim
          metadata:
            name: jenkins-pvc
            namespace: jenkins
          spec:
            accessModes:
              - ReadWriteOnce
            storageClassName: jenkins-storageclass
            resources:
              requests:
                storage: 20Gi

    - name: apply storageclass.yml
      command: "kubectl apply -f /tmp/jenkins-pvc.yml"

    - name: Create Jenkins jenkins-pv.yml
      ansible.builtin.copy:
        dest: /tmp/jenkins-pv.yml
        content: |
          apiVersion: v1
          kind: PersistentVolume
          metadata:
            name: jenkins-pv
          spec:
            capacity:
              storage: 20Gi  # Should match PVC capacity
            accessModes:
              - ReadWriteOnce
            persistentVolumeReclaimPolicy: Retain
            storageClassName: jenkins-storageclass  # Should match PVC storageClass
            hostPath:
              path: /data/jenkins
              type: DirectoryOrCreate

    - name: apply jenkins-pv.yml
      command: "kubectl apply -f /tmp/jenkins-pv.yml"

    - name: Ensure Jenkins PV directory has correct permissions
      become: yes
      file:
        path: /data/jenkins
        owner: 1000
        group: 1000
        mode: '0700'
        recurse: yes
      delegate_to: "{{ jenkins_node }}"
      run_once: yes

    # 5. Create values.yml file
    - name: Create Jenkins jenkins-values.yml
      ansible.builtin.copy:
        dest: /tmp/jenkins-values.yml
        content: |
          controller:
            image:
              tag: "lts"

            admin:
              username: admin
              password: {{ jenkins_password }}

            serviceType: NodePort
            servicePort: 8080
            nodePort: {{ jenkins_port }}

            resources:
              requests:
                cpu: "500m"
                memory: "1Gi"
              limits:
                cpu: "1"
                memory: "2Gi"

            installPlugins:
              - kubernetes
              - workflow-aggregator
              - git
              - github
              - configuration-as-code
              - docker-workflow
              - credentials-binding

            JCasC:
              enabled: true

            nodeSelector:
              kubernetes.io/hostname: jenkins

          persistence:
            enabled: true
            existingClaim: jenkins-pvc

    # 6. Install Jenkins using Helm
    - name: Install Jenkins with Helm
      kubernetes.core.helm:
        name: jenkins
        chart_ref: jenkins/jenkins
        release_namespace: "{{ jenkins_namespace }}"
        create_namespace: yes
        values_files:
          - /tmp/jenkins-values.yml
        wait: yes
        timeout: 600s

    - name: Deploy ngrok configuration
      template:
        src: ../inventories/templates/ngrok.yml.j2
        dest: ~/.config/ngrok/ngrok.yml
        owner: root
        group: root
        mode: '0644'

    - name: Create ngrok-jenkins.service file
      copy:
        dest: /etc/systemd/system/ngrok-jenkins.service
        content: |
          [Unit]
          Description=Ngrok Tunnel for Jenkins
          After=network-online.target
          Wants=network-online.target

          [Service]
          Type=simple
          User=root
          Environment=NGROK_AUTHTOKEN={{ ngrok_authtoken }}
          Environment=NGROK_CONFIG=~/.config/ngrok/ngrok.yml
          ExecStart=/usr/local/bin/ngrok http --domain=jenkins.ngrok-free.dev https://localhost:{{ jenkins_port }}
          Restart=always
          RestartSec=10
          StandardOutput=journal
          StandardError=journal

          [Install]
          WantedBy=multi-user.target
        owner: root
        group: root
        mode: '0644'

    - name: Reload systemd daemon
      command: systemctl daemon-reload

    - name: Enable and start ngrok-jenkins service
      systemd:
        name: ngrok-jenkins.service
        enabled: yes
        state: started